.tela-buscar-funcionario {
    margin-left: 0px;
    margin-top: 50px;
    margin-right: 0px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    flex-direction: column;
    width: 1047px;

}

.tela-buscar-funcionario h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #3E3E3E;
}

.buscar {
    width: 436px;
    height: 104px;

    background: #F6F6F6;
    border-radius: 5px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buscar-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.btnBuscar input {
    border: 1px solid #3E3E3E;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 15px;
    width: 234px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #F6F6F6;
}

.btnBuscar input::placeholder {
    color: #C4C4C4;
    opacity: 0.6;
}

#btnBuscar {
    background-color: #F6F6F6;
}